{% extends 'layouts/default.html' %}

{% block content %}
    <div class="content-section">
        <form action="{{url_for('rp_password', token=data.token, username=data.user.username)}}" method="post">
            {{data.form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset password</legend>
                <div class="form-group">
                    {{data.form.password.label(class="form-control-label")}}

                    {% if data.form.password.errors %}
                        {{data.form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in data.form.password.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{data.form.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{data.form.confirm_password.label(class="form-control-label")}}

                    {% if data.form.confirm_password.errors %}
                        {{data.form.confirm_password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in data.form.confirm_password.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{data.form.confirm_password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{data.form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}