{% extends 'layouts/default.html' %}

{% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{url_for('static', filename='images/profile/'+current_user.image_file)}}">
        <div class="media-body">
            <h2 class="account-heading">{{current_user.username}}</h2>
            <p class="text-secondary">{{current_user.email}}</p>
        </div>
        </div>
        <!-- FORM HERE -->
        <form action="" method="post" enctype="multipart/form-data">
            {{data.form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update account info</legend>
                <div class="form-group">
                    {{data.form.username.label(class="form-control-label")}}

                    {% if data.form.username.errors %}
                        {{data.form.username(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in data.form.username.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{data.form.username(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{data.form.email.label(class="form-control-label")}}

                    {% if data.form.email.errors %}
                        {{data.form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in data.form.email.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{data.form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div> 
                <div class="form-group">
                    {{data.form.image.label()}}
                    {{data.form.image(class='form-control-file')}}
                    {% if data.form.image.errors %}
                        {% for error in data.form.image.errors %}
                            <span class="text-danger">{{error}}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{data.form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}